body {
    background-color: black;
    color: white;
    text-align: center;
}

#generateBtn {
    width: 140px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.newDivs {
    background-color: red;
}

.yellowBtn {
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.deleteBtn {
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}